.active{
  color: #00af43 !important;
}

.btn-primary{
  background: #00af43 !important;
}

.font-remise{
  font-size: 10px;
}

.table-responsive
{
  overflow: unset !important;
  overflow-x: unset !important;
  overflow-y: unset !important;
}

.card-table
{
  overflow: auto;
}



.marquee-rtl {
  font-weight: bold;
  color: red;
  max-width: 100%;         
  border: 5px solid white;
  overflow: hidden;                     /* masque tout ce qui dépasse */
  box-shadow: 0 .25em .5em #CCC,inset 0 0 1em .25em #CCC;
}

.marquee-rtl > :first-child {
  display: inline-block;                /* modèle de boîte en ligne */
  padding-right: 2em;                   /* un peu d'espace pour la transition */
  padding-left: 100%;                   /* placement à droite du conteneur */
  white-space: nowrap;                  /* pas de passage à la ligne */
  animation: defilement-rtl 15s infinite linear;
} 

@keyframes defilement-rtl {
  0% {
    transform: translate3d(0,0,0);      /* position initiale à droite */
  }
  100% {
    transform: translate3d(-100%,0,0);  /* position finale à gauche */
  }
}

.ojoij{
  animation-name: defilement-rtl;       /* référence à la règle @keyframes mise en oeuvre */
animation-duration: 15s;              /* valeur à ajuster suivant la longueur du message */
animation-iteration-count: infinite;  /* boucle continue */
animation-timing-function: linear;    /* pas vraiment utile ici */
}